# requirements.txt
fastapi
uvicorn[standard]
python-dotenv
motor
langchain
langchain-openai
pydantic>=2.0
langchain-community
langchain-mongodb
langchain-groq
langchain-google-genai
python-multipart
# Vector Store and Document Processing
chromadb
langchain-chroma
pypdf
# --- Added for Auth ---
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
# passlib==5.3.1
# bcrypt==3.2.0

#Voice feature
elevenlabs 
requests 
sounddevice 
numpy
soundfile 
scipy
pyaudio
assemblyai[extras]
mpv
ffmpeg-python

openwakeword
faster-whisper
webrtcvad
pyaudio
pyttsx3
numpy

# Web Push Notifications
pywebpush 
apscheduler 
motor
pywebpush[cli]