fastapi
uvicorn[standard]
python-dotenv
motor
langchain
langchain-openai
pydantic>=2.0
langchain-community
langchain-mongodb
langchain-groq
langchain[google-genai]
python_dotenv
logging
langchain-core 
langchain-google-genai
python-multipart